.datetime {
    font-size: 1rem;
    color: dimgrey;
}
.event {
    border-bottom: 1px solid darkgrey;
}
#git {
    right: 0;
    margin-right: 1rem;
    height: 85vh;
    width: 18%;
    h2 {
        margin: 0;
    }
    svg {
        height: 2rem;
    }
}
#scroll {
    overflow: auto;
    height: 95%;
}
