@import 'base';
.datetime {
  font-size: 1rem;
  color: dimgrey;
  display: inline;
}
.event {
  border-bottom: 1px solid darkgrey;
}
#git {
  @extend %box;
  height: 50vh;
  padding: 1rem 1rem 2rem;
  margin-top: 1rem;
  a {
    display: block;
  }
  b {
    font-size: 1.9rem;
    margin: 0;
    padding: 0;
    display: inline;
  }
  svg {
    margin-right: 5px;
    height: 2rem;
    fill: darkgrey;
  }
}
#scroll {
  overflow: auto;
  height: 95%;
}
@media screen and (max-width: 1800px) {
  #git {
    font-size: 1rem;
    height: 57vh;
    b {
      font-size: 1.5rem;
    }
    svg {
      height: 1.5rem;
    }
  }
}
@media screen and (max-width: 1500px) {
  #git {
    b {
      display: none;
    }
    .datetime {
      display: block;
    }
  }
}
