.slider {
    width: 90%;
    margin: auto;
    background: #350202;
    border: 2px solid grey;
    border-radius: 10px;
    div {
        text-align: center;
    }
    img {
        margin: 1rem auto;
        height: 500px;
        width:auto;
        border: gray solid 2px;
        box-shadow: 5px 5px 20px black;
        background: black;
    }
    span {
        font-size: 1rem;
        position: relative;
        bottom: 10px;
    }
    svg {
        height: 2rem;
        margin: 0 5px;
        border-radius: 50%;
        box-shadow: 4px 4px 10px black;
        fill: black;
        stroke: darkred;
        stroke-width: 2px;
        path {
            stroke-width: 4px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
