@import 'base';
.slider {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
  @extend %box;
  background: #350202;
  div {
    text-align: center;
    margin-top: .75rem;
  }
  img {
    margin: 1rem auto;
    height: auto;
    min-height: 500px;
    max-height: 500px;
    width: auto;
    min-width: 200px;
    background: black;
    border: 1px solid;
    @extend %box;
    border-radius: 0;
  }
  span {
    font-size: 1rem;
    margin: 0 .5rem;
  }
  svg {
    stroke-width: 4px;
  }
}
@media screen and (max-width: 1920px) {
  .slider img {
    max-width: 90%;
    min-height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .slider img {
    max-width: 90%;
    min-height: 200px;
  }
}
