@import 'base';
.post {
  @extend %box;
  padding: 0px 10px 20px;
  margin: 20px 0px;
  * {
    margin: auto;
  }
  a,
  p {
    width: 85%;
  }
  img {
    width: 60%;
    margin-bottom: 1rem;
  }
  figure {
    margin-bottom: 1rem;
    align-content: center;
    display: grid;
  }
  figcaption {
    font-size: 25px;
  }
  h1 {
    padding-left: 3.5rem;
    margin-bottom: 10px;
  }
  h2,
  iframe {
    width: 90%;
  }
  iframe {
    height: 35rem;
    display: flex;
    align-content: center;
    margin-bottom: 1rem;
  }
  ul {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
  }
  table {
    border-spacing: 0;
    thead,
    th,
    td {
      padding: 0.25rem;
      border: 1px solid gray;
    }
  }
  .quote {
    text-indent: 6rem;
    padding-bottom: 0.75rem;
    div {
      text-indent: 8rem;
    }
  }
}
@media screen and (max-width: 1200px) {
  .post img {
    width: 90%;
  }
}
