@import 'base';
.sideTag {
  &:hover {
    font-size: 2rem;
    svg {
      fill: crimson;
      height: 2rem;
    }
  }
}
#profile {
  @extend %box;
  padding: 1rem;
  font-size: 1.25rem;
  img {
    border-radius: 50%;
    border: gray solid 2px;
    height: 15rem;
    width: 15rem;
    padding: 5px;
  }
  svg {
    fill: darkgrey;
    height: 1.25rem;
    margin-right: 5px;
  }
}
@media screen and (max-width: 1800px) {
  #profile img {
    width: 11rem;
    height: 11rem;
  }
}
