@import 'base';
.h2-table {
  font-size: 1.25rem;
  padding-left: 2rem !important;
}
#table {
  @extend %box;
  position: fixed;
  display: grid;
  width: 24%;
  left: 1rem;
  font-size: 1.5rem;
  * {
    padding: 2px 5px;
  }
  *:not(:last-child) {
    border-bottom: 1px solid grey;
  }
  a {
    &:active {
      background: #484848;
    }
  }
}
@media screen and (max-width: 1920px) {
  #table {
    width: 18%;
  }
}
@media screen and (max-width: 1200px) {
  #table {
    display: none;
  }
}
