@import 'base';
*, ::after, ::before {
  box-sizing: border-box;
  font-family: "Segoe UI";
  color: darkgrey;
}
html {
  background: #181a1b;
  scroll-padding-top: 3rem;
  padding-top: 3rem;
}
a {
  text-decoration: none;
  color: darkred;
  &:hover {
    color: crimson !important;
  }
}
button {
  @extend %box;
  font-size: 1rem;
  margin: 0rem 5px;
  svg {
    fill: none;
    stroke: darkred;
    stroke-width: 3px;
    height: 2rem;
  }
  &:active {
    background: #484848;
  }
  &:hover {
    color: crimson;
    svg {
      stroke: crimson;
    }
    cursor: pointer;
  }
}
h1 {
  border-bottom: 1px solid;
}
img {
  width: 80%;
  margin: auto;
  display: block;
}
.buttons {
  text-align: center;
}
#content {
  margin: auto;
  width: 50%;
}
@media screen and (max-width: 1920px) {
  #content {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  #content {
    width: 90%;
  }
}
