*, ::after, ::before {
    box-sizing: border-box;
    font-family: "Segoe UI";
    color: darkgrey;
}

html {
    background: #181a1b;
    scroll-padding-top: 3rem;
    padding-top: 3rem;
}
a {
    text-decoration: none;
}
#content {
    margin: auto;
    width: 50%;
}
