*, ::after, ::before {
    box-sizing: border-box;
    font-family: "Segoe UI";
    color: darkgrey;
}

html {
    width: 50%;
    margin: auto;
    background: #181a1b;
}
a {
    text-decoration: none;
}
