*, ::after, ::before {
    box-sizing: border-box;
    font-family: "Segoe UI";
    color: darkgrey;
}

html {
    background: #181a1b;
    scroll-padding-top: 3rem;
    padding-top: 3rem;
}
h1 {
    border-bottom: 1px solid;
    padding-left: 2rem;
}
p {
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
    &:hover {
        color: darkred !important;
    }
}
iframe {
    height: 14rem;
    width: 100%;
    border: none;
    padding-left: 3rem;
}
#content {
    margin: auto;
    width: 50%;
}
@media screen and (max-width: 1920px) {
    #content {
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    #content {
        width: 90%;
    }
}
