nav {
    padding-top: .5rem;
    margin: auto;
    width: 50%;
    font-size: 1.25rem;
    height: 2rem;
}
nav > a {
    padding-right: 10px;
}
nav, #nav-background {
    top: 0;
    left: 0;
    right: 0;
    position: fixed
}
a:hover {
    font-size: 2rem;
}
#nav-background {
    background: black;
    height: 3.5rem;
}
#main {
    color: white;
    font-size: 1.5rem;
    padding-right: 15px;
}
@media screen and (max-width: 1920px) {
    nav {
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    nav {
        width: 90%;
    }
}
